body{
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.backgr{
    height: 100vh;
    width: 100vw;
    background-color: #181818;
}

.headercont{
    display: flex;
    text-align: center;
    justify-content: center;
    /* height: 70px; */
    height: 10%;
    width: 100%;
    background-color: #212121;
}

.logocont{
    
    height: 100%;
    width: 25%;
}
.logocont span{
    position: relative;
    top:25px;
}

.navbarcont{
    height: 100%;
    width: 75%;
}

.navbarcont nav{
    height: 100%;
    width: 100%;
}

.navbarcont ul{
    position: relative;
    top:25px;
    padding: 0;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
}

.navbarcont li{  
    color: rgb(255, 255, 255);
    overflow: hidden;
    font-size: 1.5em;
    transition: all 0.5s;
}

.navbarcont li:hover{
    transform:scale(1.2) ;
}

.bodycont{
    width: 100%;
    height: 90%;
}
.mainbody{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.contentborder{
    position: relative;
    top: 10px;
    height: fit-content;
    width: 80%;
}

.teacherprofilecont{
    height: 300px;
    width: 200px;
    background-color: rgb(42, 42, 42);
    border-radius: 10px 10px;
    
}
.teacherprofilecont .dp{
    
    height: 100px;
    width: 100%;
    text-align: center;
}

.dp img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}